.dnsController {
    padding: 30px 30px !important;

#dnsControllerList {
    box-sizing: border-box;

#dnsControllerUl {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap !important;
}
}
}