
$secondary-leste: #3BD66F;
$bg-color: #13141a;
$primary-color: #000;
$bg-card-color: #212529;
$bg-menu-color: #13141a;
$group-color: #101114;
$bg-button-color: #3a434e;
$tertiary-color: #3a434e;
$title-color: #ffffff;
$exit-color: #ff4800;
$error-color: #58151c;
$warning-color: #ffa600;
$link-hover-color: #0044ff;
$secondary-row-color: #eeeeee;
$bg-input-color: #f9f9f9;
$sucess: rgb(9, 255, 0);

// PAINEL AD
$painel1: linear-gradient(90deg, rgba(86,76,251,1) 0%, rgba(159,29,254,1) 100%);
$painel2: linear-gradient(90deg, rgba(250,129,136,1) 0%, rgba(181,79,136,1) 100%);
$painel3: linear-gradient(90deg, rgba(52,200,185,1) 0%, rgba(18,132,179,1) 100%);
$painel4: linear-gradient(90deg, rgba(238,181,98,1) 0%, rgba(234,108,56,1) 100%);

// PAINEL AD HOVER
$hpainel1: linear-gradient(90deg, rgba(159,29,254,1) 0%, rgba(86,76,251,1) 100%);
$hpainel2: linear-gradient(90deg, rgba(181,79,136,1) 0%, rgba(250,129,136,1) 100%);
$hpainel3: linear-gradient(90deg, rgba(18,132,179,1) 0%, rgba(52,200,185,1) 100%);
$hpainel4: linear-gradient(90deg, rgba(234,108,56,1) 0%, rgba(238,181,98,1) 100%);

// DNS
$cl-border: #dee2e6;
$cl-aviso: #FF0000;



// CORES PADRONIZAÇÃO LESTE

$primary-leste: #009373;
$secondary-leste: #64F7D7;
$third-leste: #002019;

$branco-leste: #ffffff;
$preto-leste: #000;
$whitesmoke-leste: #f2f2f2;

$cor-container: #F8F9FD;
$grey-leste: #828282;
$greys-leste: #8494a51a;

$red-leste: #eb5757;
$yellow-leste: #f2c94c;